---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import "../styles/global.css";
const query = `
  query pokemon_all($name: String) {
    species: pokemon_v2_pokemon(limit: 50) {
      id
      name
	  pokemon_v2_pokemonsprites {
		sprites
	  }
    }
  }
`
const response = await fetch(
	"https://beta.pokeapi.co/graphql/v1beta",
	{
		method: "POST",
		body: JSON.stringify({
		query: query,
		variables: {},
		})
	}
);
const pokedex = await response.json();
const { species } = pokedex.data;

---

<Layout title="Team 1">
	<main>
		<h1>Team 1</h1>
		<p class="instructions">
			Pokemons ftw
		</p>
		<ul role="list" class="link-card-grid">
			{
				species.map((pokemon) => (
					<li>
						<Card name={pokemon.name}/>
					</li>
				))
			}
		</ul>
	</main>
</Layout>
