---
import Layout from '../../../layouts/Layout.astro';
const { name } = Astro.params

const query = `
    query pokemon_details($name: String) {
      species: pokemon_v2_pokemonspecies(where: {name: {_eq: $name}}) {
        name
        id
        base_happiness
        is_legendary
        is_mythical
        generation: pokemon_v2_generation {
          name
        }
        habitat: pokemon_v2_pokemonhabitat {
          name
        }
        pokemon: pokemon_v2_pokemons_aggregate(limit: 1) {
          nodes {
            height
            name
            id
            weight
            abilities: pokemon_v2_pokemonabilities_aggregate {
              nodes {
                ability: pokemon_v2_ability {
                  name
                }
              }
            }
            stats: pokemon_v2_pokemonstats {
              base_stat
              stat: pokemon_v2_stat {
                name
              }
            }
            types: pokemon_v2_pokemontypes {
              slot
              type: pokemon_v2_type {
                name
              }
            }
            levelUpMoves: pokemon_v2_pokemonmoves_aggregate(where: {pokemon_v2_movelearnmethod: {name: {_eq: "level-up"}}}, distinct_on: move_id) {
              nodes {
                move: pokemon_v2_move {
                  name
                }
                level
              }
            }
            foundInAsManyPlaces: pokemon_v2_encounters_aggregate {
              aggregate {
                count
              }
            }
            fireRedItems: pokemon_v2_pokemonitems(where: {pokemon_v2_version: {name: {_eq: "firered"}}}) {
              pokemon_v2_item {
                name
                cost
              }
              rarity
            }
          }
        }
        flavorText: pokemon_v2_pokemonspeciesflavortexts(where: {pokemon_v2_language: {name: {_eq: "en"}}, pokemon_v2_version: {name: {_eq: "firered"}}}) {
          flavor_text
        }
      }
    }
  `
const response = await fetch(
	"https://beta.pokeapi.co/graphql/v1beta",
	{
		method: "POST",
		body: JSON.stringify({
		query,
		variables: {name},
		operationName: "pokemon_details"
		})
	}
);
const pokedex = await response.json();
const pokemon = pokedex.data.species[0];
---

<Layout title="Welcome to Astro.">
	<main>
    <div class="pokemon-container">
      <h1> Pokemon: #{pokemon.id} - {pokemon.name} </h1>
      <img src=`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${pokemon.id}.png`/>
    </div>
    
	</main>
</Layout>

<style>
  .pokemon-container {
    display: flex;
    justify-content: center;
    max-width: 256px;
    margin: auto;
  }

  img {
    width: 100%;
  }
</style>
