---
import "../styles/global.css"
interface Props {
	name: string;
	sprites: any;
	body?: string;
	href?: string;
	ref?: string;
}

const { name, body, sprites } = Astro.props;
---

<li class="link-card">
	<a href={name}>
		
		{sprites.front_default && <img src={sprites.front_default} alt="test img" width="100px"/>}
		<h2>
			{name}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>
