---
import "../styles/global.css"
interface Props {
	name: string;
	body?: string;
	href?: string;
	ref?: string;
}

const { name, body } = Astro.props;
---

<li class="link-card">
	<a href={name}>
		
		<h2>
			{name}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>
